<!doctype html>
<html lang="en">

<head>
  <!-- Bootstrap - Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <h2>A dnd 5e calculator</h2>
  {% block content %}{% endblock %}

  <!-- D3.js -->
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <!-- Plotly.js -->
  <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
  <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% block scripts %} {% endblock %}

</body>
</html>