{% extends "base.html" %}

{% block title %}
  DNDcalc
{% endblock %}

{% block content %}

  <div class="container">

    <div class="form-row">
      <div class="custom-area">
      <div class="col">
        <input class="btn btn-outline-danger" id="attack-remover" name="attack-remover" type="button"
               value="Remove Attack">
        <input class="btn btn-outline-success" id="attack-adder" name="attack-adder" type="button" value="Add Attack">
      </div>
    </div>
    </div>

    <form method="POST" action="/">

      {{ form.hidden_tag() }}
      {% for attack in form.attacks %}
        <div ctype="dynamic" class="form-row">
          {{ attack.hidden_tag() }}
          {% for sub_attack in attack.sub_attacks %}
            <div class="col">
              {{ sub_attack.hidden_tag() }}

              {% if sub_attack.attack.errors %}
                <input class="form-control is-invalid" id="{{ sub_attack.attack.id }}"
                       name="{{ sub_attack.attack.name }}"
                       type="text" value="{{ sub_attack.attack.data }}">
              {% else %}
                <input class="form-control" id="{{ sub_attack.attack.id }}" name="{{ sub_attack.attack.name }}"
                       type="text" value="{{ sub_attack.attack.data }}">
              {% endif %}

              {% if sub_attack.attack.errors %}
                <div class="invalid-feedback">
                  {{ sub_attack.attack.errors[0] }}
                </div>
              {% endif %}

            </div>
          {% endfor %}
          <div class="col">
            <input class="btn btn-outline-danger" id="mybuttonm" name="mybutton" type="button" value="-">
            <input class="btn btn-outline-success" id="mybuttonp1" name="mybutton1" type="button" value="+">
          </div>
        </div>
      {% endfor %}

      <div class="custom-area">{{ form.attack_submit(class_="btn btn-primary") }}</div>

    </form>
  </div>


  <!-- graph -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% for id in ids %}
          <div id="{{ id }}"></div>
        {% endfor %}
      </div>
    </div>
  </div>


  {% if sharelink %}
    <!-- Button trigger modal -->
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
          share graph
        </button>
      </div>
    </div>

    <!-- Modal to share sharelink -->
    <div class="container">
      <div class="row">
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="Share this graph"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Share this graph">This is your graph</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="scroll-box">{{ url_for("short", arg=sharelink, _external=True) }}</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


{% endblock %}

{% block scripts %}
  <script>

      // script to make the - buttons actually remove subattacks
      $("input[value='-']").click(function () {
          // go to parent form-row, then iterate over form-controls in that row
          let fields = $($(this).closest("div.form-row")).find("input.form-control");
          if (fields.length > 1) {
              fields.each(function () {
              });
              fields[fields.length - 1].closest("div").remove();
          } else {
          }
      });

      // we always need the second last col, the last one are the buttons
      // let cols = $(first.closest("div.form-row")).find("div.col");
      // let tcols = cols[cols.length-2];
      // script to make the + buttons add subattacks
      $("input[value='+']").click(function () {
          // go to parent form-row, then iterate over form-controls in that row
          let old_field = $($(this).closest("div.form-row")).find("input.form-control:last");
          let field = old_field.clone(true, true);

          let new_sid = parseInt(old_field[0].id.match(/sub_attacks-(\d+)/)[1]) + 1;
          field[0].id = old_field[0].id.replace(/sub_attacks-(\d+)/, "sub_attacks-" + new_sid);
          field[0].name = field[0].id;

          let cols = $($(this).closest("div.form-row")).find("div.col");
          if (cols.length < 5) {
              let tcols = cols[cols.length - 2];

              // build the parent <div class=col> field
              let parent = document.createElement("div");
              parent.className = "col";

              // build the csrf entry
              let old_csrf = $(old_field.siblings()[0]);
              let newinp = old_csrf.clone(true, true);
              newinp[0].id = newinp[0].id.replace(/sub_attacks-(\d+)/, "sub_attacks-" + new_sid);
              newinp[0].name = newinp[0].id;

              parent.appendChild(newinp[0]);
              parent.appendChild(field[0]);

              tcols.after(parent);
              field.show();
          }
      });

      // remove an attack row
      // attack-remover
      $("input[id=attack-remover]").click(function () {
          if ($("div[ctype=dynamic]").length >= 2) {
              $("div[ctype=dynamic]:last")[0].remove();
          }
      });

      // add an attack row
      $("input[id=attack-adder]").click(function () {
          if ($("div[ctype=dynamic]").length > 6) {
              return;
          }
          let oldrow = $("div[ctype=dynamic]:last");
          let row = oldrow.clone(true, true);

          // get old id
          // take any inputfield and extract its id
          let new_id = parseInt($(oldrow[0]).find("input")[0].id.match(/attacks-(\d+)/)[1]) + 1;
          // replace appicable stuff with new id
          // row.find("input").each((index, element) => console.log(element.id));
          row.find("input").each(function (index, element) {
              element.id = element.id.replace(/attacks-(\d+)/, "attacks-" + new_id);
              element.name = element.name.replace(/attacks-(\d+)/, "attacks-" + new_id);
          });

          oldrow.after(row);

          // place new row after old row
          console.log('hi');
      });

      {% if graphJSON and ids %}
          var graphs = {{graphJSON | safe}};
          var ids = {{ids | safe}};
          for (var i in graphs) {
              Plotly.plot(ids[i], // the ID of the div, created above
                  graphs[i].data,
                  graphs[i].layout || {});
          }
      {% endif %}

  </script>
{% endblock %}


