{% extends "base.html" %}
{% block content %}

  <div class="container">
    <form method="POST" action="/">
      <div class="row">
        <div class="col-8">
          {{ adder.hidden_tag() }}
          {{ adder.add_submit }}
          {{ adder.remove_submit }}
        </div>

      </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col"> Damage string</div>
      <div class="col"> Advantage</div>
    </div>

    <form method="POST" action="/">
      {{ form.hidden_tag() }}

      {% for attack_entry_form in form.attacks %}
        {{ attack_entry_form.hidden_tag() }}
        <div class="row">

          <div class="col-10">
        {% for sub_attack in attack_entry_form.sub_attacks %}
          {{ sub_attack.hidden_tag() }}

            {{ sub_attack.attack }}
            {% if sub_attack.attack.errors %}
              {% for error in sub_attack.attack.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
            {{ sub_attack.advantage }}

        {% endfor %}
          </div>
        <div class="col">
          {{ attack_entry_form.add_subattack }}
          {{ attack_entry_form.remove_subattack }}
        </div>

        </div>
      {% endfor %}
      <div class="row">
        <div class="col"> {{ form.attack_submit }} </div>
      </div>
    </form>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% for id in ids %}
          <div id="{{ id }}"></div>
        {% endfor %}
      </div>
    </div>
  </div>





{% endblock %}