{% extends "base.html" %}
{% block content %}

    <div class="container">
        <form method="POST" action="/">
            <div class="row">
                <div class="col-8">
                    {{ adder.hidden_tag() }}
                    {{ adder.add_submit }}
                    {{ adder.remove_submit }}
                </div>

            </div>
        </form>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-8"> Damage string</div>
            <div class="col-4"> Advantage</div>
        </div>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            {% for attack_entry_form in form.attacks %}
                <div class="row">

                    <div class="col-8">
                        {{ attack_entry_form.hidden_tag() }}
                        {{ attack_entry_form.attack }}
                    </div>
                    <div class="col-4">
                        {{ attack_entry_form.advantage }}
                    </div>


                </div>
            {% endfor %}
            <div class="row">
                <div class="col-8"> {{ form.attack_submit }} </div>

            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% for id in ids %}
                    <div id="{{ id }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>





{% endblock %}